 
        
       <div class="ui center aligned inverted vertical footer segment form-page">
         <div class="ui container">
           Made with ❤️ by Aryan
         </div>
       </div>
      
       </body>

    </html>
   