<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8" />
        <title>Blog App</title>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
        <link rel="stylesheet" src="/stylesheets/style.css"/>

    </head>
     <body>
        <div class="ui inverted segment ">
            <div class="ui inverted secondary menu ">
                <div class="ui container ">
                    <div class=" big header item "><i class="big rss square icon"></i>Blog Site</div>
                    <a href="/" class="item ">Home</a>
                    <a href="/blogs/new" class="item">New Post</a>
                
                </div>
            </div>
          </div>
    